<%
=begin
%>
<%= will_paginate @sources %>
<%= page_entries_info @sources %>

<% @sources.each do |source| %>
  <p><%= name_link source %>
    <%# Source.source_types.select { |type| source[type] }.map(&:to_s).join(', ') %>
  </p>
<% end %>

<hr>
<%
=end
%>
<%= link_to 'New', new_source_path %>

<h2>Source Media</h2>
<ul class='column_2 no-dec'>
  <% Source.source_types.each do |type| %>
    <%= render 'type_summary', type: type %>
  <% end %>
</ul>
