<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @source.name %>
</p>

<p id='characters'>
  <strong>Characters:</strong>
  <%= tagesque_links(@source.characters, 'character', false) %>
</p>

<p>
  <strong>Types:</strong>
  <%# Source.source_singulars.select { |k,v| @source[k] }.values.join(', ') %>
  <%= @source.type_list_plur.join(', ') %>
</p>

<%= link_to 'Stories', source_stories_path(@source) %> |
<% if is_admin? %>
<%= link_to 'Edit', edit_source_path(@source) %> |
<% end %>
<%= link_to 'Back', sources_path %>
