<li class="comment", id="comment_<%= comment.id %>">
  <h4 class="comment-heading">
    <%= name_link(comment.user) %>
    <div class = "right-box">
      <div class = "comment-date">Posted at: &emsp; <%= time_format(comment.created_at) %></div>
      <% if comment.updated? %>
        <div class="comment-date">
          Last edited: &emsp; <%= time_format(comment.updated_at) %>
        </div>
      <% end %>
    </div>
  </h4>
  <div class="comment-body">
    <%= raw comment.content %>
  </div>
  <% if is_correct_user?(comment.user, true) %>
    <span class="comment-administration">
      <%# path = "edit_#{@parent.class.to_s.downcase}_comment_path"%>
      <% path = @parent.comment_edit_helper %>
      <%= link_to "Edit", send(path, @parent, comment) %>
      <%= link_to "Delete", [@parent, comment], method: :delete %>
    </span>
  <% end %>
</li>
