<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= page_entries_info(@users) %>
<%= will_paginate(@users, class: 'button-row centered') %>

<% @users.each do |user| %>
  <%= render 'users/summary', user: user %>
<% end %>

<%= will_paginate(@users, class: 'button-row centered') %>
