<p id="notice"><%= notice %></p>
<%= render partial: 'misc/error_header' %>
<p>All fields are case-sensitive.</p>
<% #todo:https %>
<%= form_tag('login', method: :post) do %>
<%= label_tag(:id, "User Name:") %>
<%= text_field_tag(:id) %>
<%= label_tag(:password, "Password:") %>
<%= password_field_tag(:password) %>
<br>
<%= submit_tag('Log In') %>
<% end %>

<%= link_to "Forgot password?", :forgot %>
