<% if is_correct_user?(@user) %>
  <div><%= link_to 'Edit My Profile', edit_user_path(@user) %></div>
<% end %>
<%= image_tag @user.avatar.url %>
<dl>
  <dt>Name:</dt>
  <dd><%= @user.name %></dd>
  <% if @user.name == session[:user] %>
    <dt>Email:</dt>
    <dd><%= @user.email %></dd>
  <% end %>
  <dt>Joined</dt>
  <dd><%= @user.created_at %></dd>
</dl>

<br>
<% if @user.deactivated %>
<p>This user is no longer active.</p>
<% end %>

<h1>Stories:</h1>
<% @user.stories.each do |story| %>
  <%= render 'stories/summary', story: story %>
<% end %>
