<% if is_correct_user?(@user) %>
  <div><%= link_to 'Edit My Profile', edit_user_path(@user) %></div>
<% end %>
<%= image_tag @user.avatar.url %>
<dl>
  <dt>Name</dt>
  <dd><%= @user.name %></dd>
  <%# if @user.name == session[:user] %>
  <% is_self = is_correct_user?(@user) %>
  <% if is_self %>
    <dt>Email</dt>
    <dd><%= @user.email %></dd>
  <% end %>
  <dt>Joined</dt>
  <dd><%= time_format(@user.created_at) %></dd>
  <dt><%= link_to 'Bookmarks', user_bookmarks_path(@user) %></dt>
  <dd><%= @user.num_bookmarks(is_self) %></dd>
</dl>

<br>
<% if @user.deactivated %>
<p>This user is no longer active.</p>
<% end %>

<h1>Stories:</h1>
<% @user.stories.each do |story| %>
  <%= render 'stories/summary', story: story %>
<% end %>
