<% if is_correct_user?(@user) %>
  <div><%= link_to 'Edit My Profile', edit_user_path(@user) %></div>
<% end %>
<%= image_tag @user.avatar.url %>
<% cu = current_user_or_guest %>
<dl>
  <dt>Name</dt>
  <dd><%= @user.name %></dd>
  <%# if @user.name == session[:user] %>
  <% is_self = is_correct_user?(@user) %>
  <% if is_self %>
    <dt>Email</dt>
    <dd><%= @user.email %></dd>
  <% end %>
  <dt>Joined</dt>
  <dd><%= time_format(@user.created_at) %></dd>
  <dt><%= link_to 'Bookmarks', user_bookmarks_path(@user) %></dt>
  <dd><%= @user.visible_bookmarks(cu).count %></dd>
</dl>

<br>
<% if @user.deactivated %>
<p>This user is no longer active.</p>
<% end %>

<h1 id='user-stories'>Stories:</h1>
<%# stories = @user.stories %>
<%# unless is_self || can_see_adult? %>
  <%# stories = Story.non_adult(stories) %>
<%# end %>
<% @user.visible_stories(cu).each do |story| %>
  <%= render 'stories/summary', story: story %>
<% end %>
