<%= form_for(story) do |f| %>
  <%= render 'story_meta', f: f, errors: story.errors.messages, story: story %>
  <%= f.submit 'Submit' %>
<% end %>
<%
=begin
%>
<%= form_tag(story_path(story), method: :put) do %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%# f.label :title %>
    <%# f.text_field :title %>
    <%= label_tag(:title, 'Title') %>
    <%= text_field_tag(:title, story.title) %>
  </div>

  <div class = "field">
    <%# f.label :summary %>
    <%# f.text_area :summary %>
    <%= label_tag(:summary, 'Summary') %>
    <%= text_area_tag(:summary, story.summary) %>
  </div>

  <div class='field script-only'>
    <%= label_tag :tags_public, "Tags" %>
    <%= text_field_tag :tags_public, nil, class: 'tag-input' %>
  </div>

  <div class='field script-only'>
    <%= label_tag :sources_public, "Sources" %>
    <%= text_field_tag :sources_public, nil, class: 'source-input' %>
  </div>

  <div class='field'>
    <%= label_tag :chars_public, "Characters" %>
    <%= text_field_tag :chars_public, nil, class: 'character-input' %>
  </div>

<noscript>
  <div class='field'>
    <%= label_tag(:tags_add, 'New tags') %>
    <%= text_field_tag(:tags_add, nil, class: 'tag-input') %>
  </div>

  <div class='field'>
    <%= label_tag(:srcs_add, 'New sources') %>
    <%= text_field_tag(:srcs_add, nil, class: 'source-input') %>
  </div>

  <% unless story.tags.empty? %>
  <table>
    <tr>
      <th>Tag</th>
      <th>Delete?</th>
    </tr>
    <% story.tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td>
          <%# f.check_box('deleted_tags[]', {value: tag.name}) %>
          <%= check_box_tag('deleted_tags[]', tag.name) %>
        </td>
      </tr>
    <% end %>
  </table>
  <% end %>

  <% unless story.characters.empty? %>
  <table>
    <tr>
      <th>Character</th>
      <th>Delete?</th>
    </tr>
    <% story.characters.each do |char| %>
      <tr>
        <td><%= char.name %></td>
        <td>
          <%= check_box_tag('deleted_chars[]', char.id) %>
        </td>
      </tr>
    <% end %>
  </table>
  <% end %>

  <% unless story.sources.empty? %>
  <table>
    <tr>
      <th>Source</th>
      <th>Delete?</th>
    </tr>
    <% story.sources.each do |src| %>
      <tr>
        <td><%= src.name %></td>
        <td>
          <%= check_box_tag('deleted_sources[]', src.id) %>
        </td>
      </tr>
    <% end %>
  </table>
  <% end %>
</noscript>

  <div class="actions">
    <%# f.submit %>
    <%= submit_tag 'Submit' %>
  </div>
<% end %>
<%
=end
%>
