<div class='story-header'>
  <dl>
    <dt>Tags</dt>
    <dd>
      <% tag_array = story.tags.map do |tag|
        link_to(tag.name, tag_stories_path(tag) )
      end %>
      <%= raw tag_array.join(', ') %>
    </dd>
    <dt>Summary</dt>
    <dd>
      <%= story.summary %>
    </dd>
    <dt>Created</dt>
    <dd><%= story.created_at %> </dd>
    <dt>Updated</dt>
    <dd><%= story.updated_at %></dd>
  </dl>
</div>
<h2 class="story-title"><%= @story.title %></h2>
<h3 class="story-author">By <%= name_link @story.user %></h3>
