<div class='story-summary'>
  <dl>
    <dt>Title</dt>
    <dd><%= story.title %>
    <dt>Tags</dt>
    <dd>
<%
=begin
%>
      <% #tag_array = story.tags.map { |tag| link_to(tag.name, tag) } %>
      <% tag_array = story.tags.map do |tag|
        link_to(tag.name, tag_stories_path(tag) )
      end %>
      <%= raw tag_array.join(', ') %>
<%
=end
%>
      <%= tags_links story.tags, true %>
    </dd>
    <dt>Summary</dt>
    <dd>
      <%= story.summary || "This story has no blurb." %>
    </dd>
    <dt>Author</dt>
    <dd><%= name_link(story.user) %></dd>
    <dt>Created</dt>
    <dd><%= story.created_at %> </dd>
    <dt>Updated</dt>
    <dd><%= story.updated_at %>
  </dl>
</div>
