<%# story = obj if obj %>
<% user = obj if local_assigns[:obj] %>

<div class='story-summary'>
  <dl>
    <dt>Title</dt>
    <dd><%= name_link story%></dd>
    <dt>Fandoms</dt>
    <dd>
      <%= tagesque_links(story.sources, 'source', true) %>
    </dd>
    <dt>Tags</dt>
    <dd>
      <%= tags_links story.tags, true %>
    </dd>
    <dt>Summary</dt>
    <dd>
      <%= raw (story.summary || "This story has no blurb.") %>
    </dd>
    <dt>Author</dt>
    <dd><%= name_link(story.user) %></dd>
    <dt>Created</dt>
    <dd><%= time_format(story.created_at) %> </dd>
    <dt>Updated</dt>
    <dd><%= time_format(story.updated_at) %>
  </dl>
  <% if defined? extra_content %>
    <%= extra_content %>
  <% end %>
</div>
