<%# story = obj if obj %>
<% user = obj if local_assigns[:obj] %>

<div class='story-summary'>
  <dl>
    <dt>Title</dt>
    <dd><%= name_link story%>
    <dt>Tags</dt>
    <dd>
<%
=begin
%>
      <% #tag_array = story.tags.map { |tag| link_to(tag.name, tag) } %>
      <% tag_array = story.tags.map do |tag|
        link_to(tag.name, tag_stories_path(tag) )
      end %>
      <%= raw tag_array.join(', ') %>
<%
=end
%>
      <%= tags_links story.tags, true %>
    </dd>
    <dt>Summary</dt>
    <dd>
      <%= raw (story.summary || "This story has no blurb.") %>
    </dd>
    <dt>Author</dt>
    <dd><%= name_link(story.user) %></dd>
    <dt>Created</dt>
    <dd><%= time_format(story.created_at) %> </dd>
    <dt>Updated</dt>
    <dd><%= time_format(story.updated_at) %>
  </dl>
  <% if defined? extra_content %>
    <%= extra_content %>
  <% end %>
</div>
