<h1>New Story</h1>

<%= form_for(@story) do |f| %>
  <%= render 'story_meta', f: f %>
  <%= render 'chapters/chapter_body_edit', f: f %>
  <%= f.submit 'Submit' %>
<% end %>


<%= link_to 'Back', stories_path %>
