<h1>New Story</h1>

<%# render 'special_pages/autocomplete_script', sing: 'tag', coll: @story.tags %>
<%# render 'special_pages/autocomplete_script', sing: 'source', coll: @story.sources %>
<%= render partial: 'autocompletes' %>

<% errors = @story.errors.messages %>

<%= form_for(@story) do |f| %>
  <%= render 'story_meta', f: f, errors: errors, story: @story %>
  <%= render 'chapters/chapter_body_edit', f: f, errors: errors %>
  <%= f.submit 'Submit' %>
<% end %>

<%= link_to 'Back', stories_path %>
