<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @story.author %>
</p> -->
<%= render partial: "header" %>
<% chapters.each do |chap| %>
  <%= render "chapters/chapter_display", chapter: chap %>
<% end %>

<%= render partial: "stories/story_footer" %>
