<%
=begin
%>

<%= will_paginate @characters %>
<%= page_entries_info @characters %>

<% @characters.each do |character| %>
  <p><%= name_link character %></p>
<% end %>

<hr>
<%= link_to 'New', new_character_path %>
<%
=end
%>
<%= raw cloud_sizer(Character, @stories, Character.cloud_names).join(' ') %>
