<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Source:</strong>
  <%= name_link @character.source %>
</p>

<%= link_to 'Stories', character_stories_path(@character) %> |
<% if is_admin? %>
<%= link_to 'Edit', edit_character_path(@character) %> |
<% end %>
<%= link_to 'Back', characters_path %>
