<%
=begin
%>
<%= form_for(tag) do |f| %>
  <% if tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :adult %>
    <%= f.check_box :adult %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%
=end
%>
<%= form_tag(@tag, method: :put) do %>
  <dl>
    <dt><%= label_tag(:adult, 'Adult') %></dt>
    <dd><%= check_box_tag(:adult, 1, @tag.adult) %></dd>
    <dt><%= label_tag(:implications, "New Implications") %></dt>
    <dd><%= text_field_tag(:implications) %></dd>
    <dt><%= label_tag(:delete, 'Delete?') %></dt>
    <dd><%= check_box_tag(:delete) %></dd>
  </dl>
  <%= submit_tag 'Update' %>
<% end %>
