<p id="notice"><%= notice %></p>

<h1>100 Most Common Tags</h1>
<%# raw cloud_sizer(Tag, @stories, Tag.cloud_names).join(' ') %>
<%= raw cloud_sizer(@tags, Tag.cloud_names.map { |klass| klass + ' redlink'}).join(' ') %>
<%
=begin
%>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Adult</th>
      <th>Count</th>
      <th>Parents</th>
      <th>Children</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= tag.adult %></td>
        <td><%= tag.stories_count %></td>
        <td><%= tag.implying_tags.count %></td>
        <td><%= tag.implied_tags.count %></td>
        <td><%= link_to 'Show', tag %></td>
        <% if is_admin? %>
        <td><%= link_to 'Edit', edit_tag_path(tag) %></td>
        <td><%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tag', new_tag_path %>
<%
=end
%>
