<ul>
<li><%= link_to 'Users', users_path %></li>
<li><%= link_to 'Stories', stories_path %></li>
<li><%= link_to 'Tags', tags_path %></li>
<li><%= link_to 'News', newsposts_path %></li>
<li><%= link_to 'Bookmarks', bookmarks_path %></li>
<li><%= link_to 'Sources', sources_path %></li>
<li><%= link_to 'Search', search_path %></li>
<li><%= link_to 'Story search', story_search_path %></li>
<li><%= link_to 'Source search', source_search_path %></li>
<li><%= link_to 'Characters', characters_path %></li>
<li><%= link_to 'Newsposts', newsposts_path %></li>
</ul>


<%
=begin
%>
<% #TODO: remove this for production %>
<% [Tag, Source, Character].each do |klass| %>
  <%# klass.reset_stories_count %>
  <% klass.find_each do |obj| %>
    <% if obj.stories_count != obj.stories.count %>
      <%= name_link obj %> <%= obj.stories.count %> <%= obj.stories_count %><br>
    <% end %>
  <% end %>
<% end %>
<%
=end
%>

<% total = 0 %>
<table>
  <% ActiveRecord::Base.connection.tables.sort.each do |table| %>
  <tr>
    <td><%= table %></td>
    <% sql = "Select count(*) from #{table}" %>
    <% num = ActiveRecord::Base.connection.execute(sql)[0]['count'] %>
    <% total += num %>
    <td><%= number_with_delimiter(num) %></td>
  </tr>
  <% end %>
</table>
<%= number_with_delimiter(total) %>

<%
=begin
%>
<ul>
<% 10.times do %>
  <li>
    <%= raw Forgery(:lorem_ipsum).paragraph(sentences: 20, html: true, random: true) %>
  </li>
<% end %>
</ul>
<%
=end
%>

<%# raw Forgery('lorem_ipsum').paragraphs(5, html: true, sentences: 10) %>
