<ul>
<li><%= link_to 'Users', users_path %></li>
<li><%= link_to 'Stories', stories_path %></li>
<li><%= link_to 'Tags', tags_path %></li>
<li><%= link_to 'News', newsposts_path %></li>
<li><%= link_to 'Bookmarks', bookmarks_path %></li>
<li><%= link_to 'Sources', sources_path %></li>
<li><%= link_to 'Search', search_path %></li>
<li><%= link_to 'Story search', story_search_path %></li>
<li><%= link_to 'Source search', source_search_path %></li>
<li><%= link_to 'Characters', characters_path %></li>
<li><%= link_to 'Newsposts', newsposts_path %></li>
</ul>

<% #TODO: remove this for production %>
<% [Tag, Source, Character].each do |klass| %>
  <%# klass.reset_stories_count %>
  <% klass.find_each do |obj| %>
    <% if obj.stories_count != obj.stories.count %>
      <%= name_link obj %> <%= obj.stories.count %> <%= obj.stories_count %><br>
    <% end %>
  <% end %>
<% end %>

<%# User.find_each do |user| %>
  <%# user.destroy unless user.is_confirmed %>
<%# end %>
