<p>
  This site was built on Ruby on Rails to be a clone of
  <%= link_to 'Archive of our Own', 'http://archiveofourown.org/' %>. While
  the original site is also written in Rails, I did not copy any of their code
  when building my own (with one exception: the search page allows you to
  filter by publication date, and this requires the application to parse
  phrases like "three weeks ago" into computer-comprehensible dates. I
  copied part of the code AO3 uses to parse this, although I changed it
  significantly later on). I did, however, sometimes look at their code to get
  an idea of the general approach they used, or to see what gems they used.
</p>
<h3 id='feature-list'>Features</h3>
<ul>
  <li>
    <strong>User-submitted stories:</strong> Any logged-in user can
    <%= link_to 'create a story', new_story_path %>. Stories can be created or
    edited with a WYSIWYG editor.
  </li>
  <li>
    <strong>Tagging:</strong> Stories can be tagged with three kinds of tags:
    general, character, and source. <%= link_to 'General tags', tags_path %>
    are indications of the general content of a story; for instance, tagging a
    story "romance" indicates that the story is a romantic one.
    <%= link_to 'Character tags', characters_path %> indicate which canon
    characters are featured in a fanfic; for instance, if writing a Harry
    Potter fanfic, you might tag it with
    <%= link_name Character, "Harry Potter" %>,
    <%= link_name Character, "Hermione Granger" %>, et cetera.
    <%= link_to 'Source tags', sources_path %> indicate what media a story is a
    fanfic of; in the earlier example of a Harry Potter fanfic, it would be
    tagged with <%= link_name Source, "Harry Potter" %>. Note that the three
    types of tags are entirely separate; the Harry Potter character tag is not
    the same as the Harry Potter source tag.
  </li>
</ul>
