<p id="notice"><%= notice %></p>

<h1>Newsposts</h1>

<% if is_admin? %>
  <%= link_to 'New Newspost', new_newspost_path %>
<% end %>

<%= will_paginate @page_posts %>
<%= page_entries_info(@page_posts) %>

<div class = "posts-container">
  <%= render 'banner' do %>
    <%= form_tag newsposts_path, method: 'get', class: 'right-text' do %>
      <%= label_tag(:tag, 'Tag:', class: 'in-line') %>
      <% drop_items = options_from_collection_for_select(NewsTag.all, :id, :name) %>
      <%= select_tag(:tag, drop_items) %>
      <%= submit_tag('Go') %>
    <% end %>
  <% end %>
  <% @page_posts.each do |post| %>
    <%= render 'display', post: post %>
  <% end %>
</div>
<br>

<% #link_to 'New Newspost', new_newspost_path %>
<%= will_paginate @page_posts %>
