<p id="notice"><%= notice %></p>

<h1>Newsposts</h1>

<% if is_admin? %>
  <%= link_to 'New Newspost', new_newspost_path %>
<% end %>

<%= will_paginate @newsposts %>
<%= page_entries_info(@newsposts) %>

<div class = "posts-container">
  <% @newsposts.each do |post| %>
    <div class = "newspost" >
      <center>
        <%= name_link post %>
      </center>
      <dl>
        <dt>Published</dt>
        <dd><%= time_format(post.created_at) %></dd>
        <% if post.created_at != post.updated_at %>
          <dt>Edited</dt>
          <dd><%= time_format(post.updated_at) %></dd>
        <% end %>
        <dt>Tags</dt>
        <% tag_array = post.news_tags.map { |tag| name_link tag } %>
        <dd><%= raw tag_array.join(', ') %></dd>
      </dl>
      <div class='news-body'>
        <%= post.content %>
      </div>
    </div>
  <% end %>
</div>
<br>

<% #link_to 'New Newspost', new_newspost_path %>
<%= will_paginate @newsposts %>
