<p id="notice"><%= notice %></p>

<%= render 'banner' do %>
<div class = 'button-row'>
  <%= link_to('Previous Post', @prev_post) if @prev_post %>
  <%= link_to('Next Post', @next_post) if @next_post %>
</div>
<% end %>

<%= render 'display', post: @newspost %>

<div class='button-row'>
  <%= link_to(raw('&uarr; Top'), url_for(anchor: 'news-banner')) %>
  <%= link_to('Previous Post', @prev_post) if @prev_post %>
  <%= link_to('Next Post', @next_post) if @next_post %>
  <%= link_to('Newspost Index', newsposts_path) %>
</div>
<div class='clear-bar'></div>
<%# link_to 'Edit', edit_newspost_path(@newspost) %>
<%# link_to 'Back', newsposts_path %>

<% @parent = @newspost %>
<%= render partial: 'comments/comment_footer' %>
