<!DOCTYPE html>
<html>
  <head>
    <title>
      <% if defined? @page_title %>
        <%= @page_title %> |
      <% end %>
      Archive of Our Clone
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'token-input', media: 'all' %>
    <%# stylesheet_link_tag    'token-input' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'jquery.tokeninput' %>
  </head>
  <body>
    <%= render partial: 'misc/header' %>
    <div class='main-body'>
      <%= yield %>
    </div>
  </body>
</html>
