<!DOCTYPE html>
<html>
  <head>
    <title>ArchiveClone2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render partial: 'misc/nav_header' %>
    <%= render partial: 'users/header' %>
    <div class='main-body'>
      <%= yield %>
    </div>
  </body>
</html>
